GEMINI_API_KEY="XXX"

DATABASE_URL="postgresql+psycopg://senda:4Qgr7DpEf2wLur4eAwhuSiw7s@localhost:5433/senda_db"
DB_POOL_MIN=2
DB_POOL_MAX=10

# S3
AWS_S3_BUCKET=XXX
AWS_S3_REGION=eu-west-1

# AWS
AWS_ACCESS_KEY=AKIAXXXXXXX
AWS_SECRET_KEY=XXXX