# Virtual Environments
.ve
.venv
venv/
env/

# UV Cache
.uv/

# IDE
.idea
.vscode

# OS
.DS_Store

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist/
build/

# Environment Variables
.env
.env.dev
.env.test
.env.local

# Testing
.coverage
.pytest_cache/
htmlcov/

# Other
google_credentials.json
./test.py

# Generated data
generated_courses

# DB
db/dumps/
