# Virtual Environments
.ve
.venv
venv/
env/

# UV Cache
.uv/

# IDE
.idea
.vscode

# OS
.DS_Store

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist/
build/

# Environment Variables
.env
.env.dev
.env.test
.env.local
.env.production

# Testing
.coverage
.pytest_cache/
htmlcov/

# Other
google_credentials.json
./test.py

# Generated data
generated_courses

# DB
db/dumps/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
